h1{
    text-align: center;
    background-color: orange;
}

.row img{
    width: 200px;
    text-align: center;
    border-radius: 100px;
}
.row{
    text-align: center;
}

#selfie{
    width: 200px;
    border-radius: 50px;
    
}
#selfie.hover{
    
}

.selfie{
    text-align: center;

}
body{
    background-color: linen;
}

#netflix{
    height: 270px;
}